<?xml version="1.0"?>
<launch>

  <node pkg="motion_capture_tracking" type="node" name="node" output="screen" >
    <rosparam>
      # Tracking
      motion_capture_type: "vicon" # one of vicon,optitrack,qualisys,vrpn
      motion_capture_hostname: "10.157.163.191"
    </rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_capture_tracking)/launch/rviz.rviz"/>

</launch>
